name: Package Application

on: [push]
permissions:
  id-token: "write"
  contents: "write"
  packages: "write"
  pull-requests: "read"

jobs:
  win-pyinstaller:
    name: Build package on Windows (Pyinstaller)
    runs-on: windows-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller "PySide6-Essentials==6.6.3.1" "aiohttp==3.12.15"

    - name: Package application
      run: >
        pyinstaller -i icons/icon.ico -F -w --clean --noupx --log-level WARN
        --exclude-module tkinter
        --exclude-module unittest
        --exclude-module pydoc
        --exclude-module multiprocessing
        --exclude-module lib2to3
        --exclude-module PySide6.QtHelp
        --exclude-module PySide6.QtNetwork
        --exclude-module PySide6.QtConcurrent
        --exclude-module PySide6.QtDBus
        --exclude-module PySide6.QtDesigner
        --exclude-module PySide6.QtOpenGL
        --exclude-module PySide6.QtOpenGLWidgets
        --exclude-module PySide6.QtPrintSupport
        --exclude-module PySide6.QtQml
        --exclude-module PySide6.QtQuick
        --exclude-module PySide6.QtQuickControls2
        --exclude-module PySide6.QtQuickWidgets
        --exclude-module PySide6.QtXml
        --exclude-module PySide6.QtTest
        --exclude-module PySide6.QtSql
        --exclude-module PySide6.QtSvg
        --exclude-module PySide6.QtSvgWidgets
        --exclude-module PySide6.QtUiTools
        main.py

    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        name: win-pyinstaller
        path: dist/main.exe

  win-nuitka:
    name: Build package on Windows (Nuitka)
    runs-on: windows-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install "PySide6-Essentials==6.6.3.1" "aiohttp==3.12.15"

    - name: Package application
      uses: Nuitka/Nuitka-Action@main
      with:
        nuitka-version: main
        script-name: main.py
        output-dir: build
        mode: onefile
        enable-plugins: pyside6
        msvc: latest
        windows-console-mode: disable
        windows-icon-from-ico: icons/icon.ico
        disable-cache: true

    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        name: win-nuitka
        path: build/main.exe

  mac-pyinstaller:
    name: Build package on MacOS (Pyinstaller)
    runs-on: macos-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller "PySide6-Essentials==6.6.3.1" "aiohttp==3.12.15"

    - name: Package application
      run: >
        pyinstaller -i icons/icon.icns -F -w --clean --log-level WARN
        --exclude-module tkinter
        --exclude-module unittest
        --exclude-module pydoc
        --exclude-module multiprocessing
        --exclude-module curses
        --exclude-module lib2to3
        --exclude-module PySide6.QtHelp
        --exclude-module PySide6.QtNetwork
        --exclude-module PySide6.QtConcurrent
        --exclude-module PySide6.QtDBus
        --exclude-module PySide6.QtDesigner
        --exclude-module PySide6.QtOpenGL
        --exclude-module PySide6.QtOpenGLWidgets
        --exclude-module PySide6.QtPrintSupport
        --exclude-module PySide6.QtQml
        --exclude-module PySide6.QtQuick
        --exclude-module PySide6.QtQuickControls2
        --exclude-module PySide6.QtQuickWidgets
        --exclude-module PySide6.QtXml
        --exclude-module PySide6.QtTest
        --exclude-module PySide6.QtSql
        --exclude-module PySide6.QtSvg
        --exclude-module PySide6.QtSvgWidgets
        --exclude-module PySide6.QtUiTools
        main.py

    - name: Zip application
      run: |
        cd dist
        zip -r9 checker.zip main.app/

    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        name: mac-pyinstaller
        path: dist/checker.zip

  upload:
    name: Upload releases
    runs-on: ubuntu-latest
    needs: [win-pyinstaller, win-nuitka, mac-pyinstaller]

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4

    - name: Organize artifacts
      run: |
        mv win-pyinstaller/main.exe checker-win-x64.exe
        mv win-nuitka/main.exe checker-win-nuitka.exe
        mv mac-pyinstaller/checker.zip checker-mac.zip

    - name: Create & upload release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        automatic_release_tag: alpha
        prerelease: true
        title: GoogleTranslate_IPFinder
        files: |
          checker-win-x64.exe
          checker-win-nuitka.exe
          checker-mac.zip
