name: Package Application with Pyinstaller

on: [push]
permissions:
  id-token: "write"
  contents: "write"
  packages: "write"
  pull-requests: "read"

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    - name: Package application
      run: |
        pyinstaller -i icons/icon.ico -F -w --clean --log-level WARN main.py
        mv dist/main.exe checker.exe

    - name: Create & upload release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        automatic_release_tag: alpha
        prerelease: false
        title: GoogleTranslate_IPFinder
        files: checker.exe